body {
  background-color: #866acd;
  font-family: sans-serif;
}

a {
  color: rgb(112, 35, 183);
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: rgba(207, 40, 207, 0.765);
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 10px;
  font-size: 16px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  color: rgba(207, 40, 207, 0.765);
  font-size: 38px;
  line-height: 48px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 20px;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 20px;
}
.weather-app-details strong {
  color: #ea3b6f;
  font-style: italic;
  font-weight: bold;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgb(0, 0, 0, 0.6);
}
